/* //universal style properties*/
* {
  box-sizing: border-box;
}
/* body styles */
body {
  margin: 0;
}
/* top navbar heading styles */
.header-container {
  height: 5%;
  width: 100%;
  display: flex;
  background-color: rgb(42, 16, 13);
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
  flex-flow: row wrap;
  margin: 0;
  overflow: hidden;
  color: white;

}
/* navbar logo image styling */
.logo-image {
  height: 95%;
  width: 60px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* navbar heading style */
.heading-text {
  align-self: center;
  text-align: center;
  margin: 1%;
}
/* navbar search section */
.search-section {
  display: flex;
  align-self: center;
  margin-right: 10px;
}
/* navbar search label */
.search-section > label {
  padding-right: 2px;
}

/* top menu bar below the main NAVBAR */
.left-container {
  height: 40px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(162, 246, 218);
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}
/* add new form icon styles */
.add-task {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
/* add new form image styles */
.add-task > img {

  height: 30px;
  display: block;
  width: 30px;
  padding: 3px;
  margin-top: 18px;
  justify-content: right;
  align-items: right;
  opacity: 1;
}
/* on nmouse hover change mouse cursor */
.add-task > img:hover {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

/* main area card display styles */
.middle-container {
  height: 480px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(218, 182, 26);
  align-items: start;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 2px;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* not used for now */
.overall-container {
  display: flex;
  flex-direction: column;
}
/* to-do conatiner styles */
.my-container-td {
  height: 480px;
  width: 25%;
  overflow: auto;           /* to get scroll bar*/       
  background-color: aqua;
  border: 1px solid black;
  box-sizing: border-box;
  padding-right: 4px;
  flex-shrink: 1;
}
/* for to-do text */
.my-container-td > h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
/* in-progress container styles */
.my-container-ip {
  height: 480px;
  width: 25%;
  overflow: auto;
  background-color: blueviolet;
  border: 1px solid black;
  box-sizing: border-box;
  padding-right: 4px;
  flex-shrink: 1;
}
/* in-progress text  styles */
.my-container-ip > h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
/* review container styles */
.my-container-rv {
  height: 480px;
  width: 25%;
  overflow: auto;
  background-color: aqua;
  border: 1px solid black;
  box-sizing: border-box;
  padding-right: 4px;
  flex-shrink: 1;
}
/* review container text styles */
.my-container-rv > h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
/* done container styles */
.my-container-dn {
  height: 480px;
  width: 25%;
  overflow: auto;
  background-color: blueviolet;
  border: 1px solid black;
  box-sizing: border-box;
  padding-right: 4px;
  flex-shrink: 1;
}
/* done container text styles */
.my-container-dn > h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
/* ul element styles for all cards within its container */
.list-group {
  display: block;
  justify-content: center;
  align-content: center;
  /* text-align: center; */
  align-items: center;
}
/* individual cards styles */
.flex-card {
  height: 150px;
  width: 300px;
  float: right;
  /* display: block; */
  box-sizing: border-box;
  border: 2px solid black;
  margin: 2px 2px;
  background-color: beige;
  flex-shrink: 1;
  overflow: auto;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
}
/* card hover for mouse  */
.flex-card:hover {
  cursor: cell;
  background-color: rgb(241, 241, 136);
}
/* inside card text styles */
.card-text {
  margin-left: 5px;
}
/* card h5 style */
.card-text > h5 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  line-height: 110%;
  box-sizing: border-box;
  font-size: 16px;
}
/* for assignto and duedate style to display in same line  */
.assign-div {
  display: inline-flex;
}
/* card text p elements */
.card-text > p {
  font-size: 0.9em;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 4px;
  overflow-wrap: break-word;
}
/* assign div p elements */
.assign-div > p {
  font-size: 0.9em;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  /* overflow-wrap: break-word; */ 
}
/* status div p element */
.status-div > p {
  font-size: 0.9em;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 4px;
}
/* card delete icon  style */
.card-icon-img-del {

  height: 20px;
  float: right;
  width: 20px;
  justify-content: end;
  align-items: end;
}
/* card delete icon hover style */
.card-icon-img-del:hover {
  cursor: pointer;
  height: 25px;
  width: 25px;
}
/* card edit icon  style */
.card-icon-img-edit {
  
  height: 20px;
  float: right;
  width: 20px;
  justify-content: end;
  align-items: end;
}
/* card edit icon hover  style */
.card-icon-img-edit:hover {
  cursor: pointer;
  height: 25px;
  width: 25px;
}
/* card status icon style */
.card-icon-img-status {
 
  height: 30px;
  float: left;
  width: 30px;
  margin-left: 5px;
}
/* card status icon hover style */
.card-icon-img-status:hover {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
/* for striking elements for done status */
.checked > p,
.checked > .assign-div > p,
.checked > .status-div > p {
  text-decoration: line-through;
}
/* footer text */
.footer-text {
  display: flex;
  margin-top: 0;
  justify-content: center;
  margin-bottom: 0;
  border: 1px solid black;
  color: white;
  background-color: darkslategray;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 80px;
  left: 50%;
  width: 310px;
  height: 480px;
  margin-left: -155px; /*set to a negative number 1/2 of your width*/
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  height: 495px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(175, 173, 173);
  animation: fadebackground 8s infinite;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 2%;
  border: 2px solid blue;
}
/* dynamic color styling */
@keyframes fadebackground {
  from {
    background-color: rgba(180, 189, 147, 0.993);
  }
  to {
    background-color: #7ee2ba;
  }
}
/* add form h2 style */
.form-header-h2 {
  text-align: center;
  font-weight: bold;
}
/* form controls style */
.form-control,
.form-select {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* form lables */
.form-label {
  font-weight: bold;
}
/* form errr text style */
.err-text {
  font-weight: bold;
  font-size: 12px;
  color: red;
}
/* form footer */
.form-footer {
  margin-top: 20px;
  text-align: right;
}
/* form footer button */
.form-btn {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1em;
}
/* form buttom image style */
.save-icon-img {

  height: 30px;
  background-color: rgb(175, 173, 173);
  float: right;
  width: 30px;
  justify-content: center;
  align-items: center;
}
/* form buttom image hover style */
.save-icon-img:hover {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

/* Media Queries for small mobile devices*/
@media only screen and (max-width: 600px) {
  .search-section {
    display: none;
  }
  /* card property */
  .flex-card {   
    width: 100%;
  }
  
  .my-container-td {
    width: 100%;     /* width 100% will wrap the rest of the columns */
  }
  .my-container-ip {
    width: 100%;
  }
  .my-container-rv {
    width: 100%;
  }
  .my-container-dn {
    width: 100%;
  }
  .middle-container {
    flex-flow: row wrap;
  }
}
/* Media Queries for medium size devices*/
@media only screen and (min-width: 601px) and (max-width: 1100px) {
  .middle-container {
    flex-flow: row wrap;
  }
  .flex-card {
    width: 100%;
  }
  .my-container-td {
    width: 50%;
  }
  .my-container-ip {
    width: 50%;
  }
  .my-container-rv {
    width: 50%;
  }
  .my-container-dn {
    width: 50%;
  }
}
